
.vs/slnx.sqlite
Lesson 1/Lesson 1 - Input and Output/.vs/Lesson 1 - Input and Output/FileContentIndex/489a987e-939d-4e84-939f-b3d6d4be6be5.vsidx
Lesson 1/Lesson 1 - Input and Output/.vs/Lesson 1 - Input and Output/FileContentIndex/f353ac29-0d3b-4270-90f2-45f407cab387.vsidx
.vs/slnx.sqlite
Lesson 1/Lesson 1 - Input and Output/.vs/Lesson 1 - Input and Output/FileContentIndex/0b9f9039-e21e-4a6e-a6ee-feed07b2c9f7.vsidx
Lesson 1/Lesson 1 - Input and Output/.vs/Lesson 1 - Input and Output/FileContentIndex/ecad3750-f9b6-4cb3-83a0-53cf623d1143.vsidx
Lesson 1/Lesson 1 - Input and Output/.vs/Lesson 1 - Input and Output/FileContentIndex/read.lock
Lesson 1/Lesson 1 - Input and Output/Lesson 1 - Input and Output/obj/Debug/net7.0/Lesson 1 - Input and Output.AssemblyInfo.cs
Lesson 1/Lesson 1 - Input and Output/Lesson 1 - Input and Output/obj/Debug/net7.0/Lesson 1 - Input and Output.csproj.AssemblyReference.cache
Lesson 1/Lesson 1 - Input and Output/Lesson 1 - Input and Output/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
Lesson 1/Lesson 1 - Input and Output/Lesson 1 - Input and Output/obj/Debug/net7.0/Lesson 1 - Input and Output.GlobalUsings.g.cs
Lesson 1/Lesson 1 - Input and Output/Lesson 1 - Input and Output/obj/Debug/net7.0/Lesson 1 - Input and Output.GeneratedMSBuildEditorConfig.editorconfig
Lesson 1/Lesson 1 - Input and Output/Lesson 1 - Input and Output/obj/Debug/net7.0/Lesson 1 - Input and Output.AssemblyInfoInputs.cache
*.v2
*.vsidx
*.sqlite
*.sqlite
*.lock
Lesson 1/Inputs and Outputs/.vs/Inputs and Outputs/v17/.suo
Lesson 1/Inputs and Outputs/Lesson 1 inputs and Outputs/Inputs and Outputs.csproj
Lesson 1/Inputs and Outputs/Lesson 1 inputs and Outputs/obj/Debug/net7.0/Inputs and Outputs.AssemblyInfoInputs.cache
*.cache
*.editorconfig
*.json
Lesson 1/Inputs and Outputs/Lesson 1 inputs and Outputs/obj/Inputs and Outputs.csproj.nuget.g.targets
*.props
Inputs and Outputs/.vs/Inputs and Outputs/v17/.suo
Inputs and Outputs/Inputs and Outputs/obj/Inputs and Outputs.csproj.nuget.g.targets
Inputs and Outputs/Inputs and Outputs/obj/Debug/net7.0/Inputs and Outputs.GlobalUsings.g.cs
Inputs and Outputs/Inputs and Outputs/obj/Debug/net7.0/Inputs and Outputs.AssemblyInfo.cs
Inputs and Outputs/Inputs and Outputs/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
