
.vs/slnx.sqlite
Lesson 1/Lesson 1 - Input and Output/.vs/Lesson 1 - Input and Output/FileContentIndex/489a987e-939d-4e84-939f-b3d6d4be6be5.vsidx
Lesson 1/Lesson 1 - Input and Output/.vs/Lesson 1 - Input and Output/FileContentIndex/f353ac29-0d3b-4270-90f2-45f407cab387.vsidx
.vs/slnx.sqlite
